Repository adcontextprotocol/adcp-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-generated-code, test-code-generation

validate-generated-code:
  name: Validate generated Pydantic models
  entry: python -m py_compile
  language: system
  pass_filenames: true
  description: Ensures generated code is syntactically valid Python

test-code-generation:
  name: Test code generator
  entry: pytest tests/test_code_generation.py -v --tb=short
  language: system
  pass_filenames: false
  description: Run code generation tests when generator changes

fix: correct PyPI API token secret name in release workflow
  .github/workflows/release-please.yml
Due: none

revert: restore correct PYPY_API_TOKEN secret name
  .github/workflows/release-please.yml
Due: none

docs: add Python SDK development learnings to CLAUDE.md
  CLAUDE_MD_ADDITIONS.md
Due: none

fix: actually use PYPY_API_TOKEN secret for PyPI publishing
  .github/workflows/release-please.yml
Due: none

docs: add CLAUDE.md with Python SDK development learnings
  CLAUDE.md
Due: none

fix: use correct PYPY_API_TOKEN secret for PyPI publishing (#8)
  .github/workflows/release-please.yml
  CLAUDE.md
Due: none

fix: correct tool name in list_creative_formats method
  src/adcp/client.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_protocols.py
Due: none

fix: correct tool name in list_creative_formats method (#10)
  src/adcp/client.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_protocols.py
Due: none

fix: parse list_creative_formats response into structured type
  src/adcp/client.py
  src/adcp/protocols/mcp.py
  src/adcp/utils/response_parser.py
  tests/test_client.py
  tests/test_response_parser.py
Due: none

fix: define FormatId as proper object type per ADCP spec
  schemas/cache/1.0.0/format-id.json
  src/adcp/types/generated.py
  tests/test_client.py
Due: validate-generated-code

refactor: move response parsing to adapter layer
  src/adcp/client.py
  src/adcp/protocols/base.py
Due: none

remove: delete call_tool generic fallback method
  src/adcp/client.py
  src/adcp/protocols/a2a.py
  src/adcp/protocols/base.py
  src/adcp/protocols/mcp.py
  tests/test_client.py
  tests/test_protocols.py
Due: none

fix: address critical code review issues
  src/adcp/client.py
  src/adcp/types/generated.py
  tests/test_client.py
  tests/test_format_id_validation.py
Due: validate-generated-code

fix: auto-generate FormatId with validation in schema generation
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

fix: normalize format-id.json formatting for CI
  schemas/cache/1.0.0/format-id.json
Due: none

fix: remove unused imports to pass linter
  src/adcp/client.py
  src/adcp/protocols/mcp.py
Due: none

fix: apply linting and type checking fixes after local validation
  scripts/generate_models.py
  scripts/generate_models_simple.py
  src/adcp/__main__.py
  src/adcp/protocols/a2a.py
  src/adcp/protocols/base.py
  src/adcp/types/generated.py
  src/adcp/types/tasks.py
  src/adcp/utils/response_parser.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_code_generation.py
  tests/test_format_id_validation.py
  tests/test_protocols.py
Due: validate-generated-code, test-code-generation

fix: restore inline Field formatting in generated.py for CI
  src/adcp/types/generated.py
Due: validate-generated-code

fix: exclude generated.py from black formatting to prevent CI drift
  Makefile
  pyproject.toml
  src/adcp/__main__.py
Due: none

refactor: implement code review suggestions for maintainability
  src/adcp/__main__.py
  src/adcp/protocols/base.py
  src/adcp/utils/response_parser.py
Due: none

feat: implement high-priority protocol expert recommendations
  CLAUDE.md
  src/adcp/client.py
Due: none

fix: parse list_creative_formats response into structured type (#12)
  CLAUDE.md
  Makefile
  pyproject.toml
  schemas/cache/1.0.0/format-id.json
  scripts/generate_models.py
  scripts/generate_models_simple.py
  src/adcp/__main__.py
  src/adcp/client.py
  src/adcp/protocols/a2a.py
  src/adcp/protocols/base.py
  src/adcp/protocols/mcp.py
  src/adcp/types/generated.py
  src/adcp/types/tasks.py
  src/adcp/utils/response_parser.py
  tests/test_cli.py
  tests/test_client.py
  tests/test_code_generation.py
  tests/test_format_id_validation.py
  tests/test_protocols.py
  tests/test_response_parser.py
Due: validate-generated-code, test-code-generation

fix: handle Pydantic TextContent objects in MCP response parser
  src/adcp/utils/response_parser.py
  tests/test_response_parser.py
Due: none

refactor: move MCP serialization to protocol boundary
  src/adcp/protocols/mcp.py
  src/adcp/utils/response_parser.py
  tests/test_protocols.py
  tests/test_response_parser.py
Due: none

fix: remove unused type ignore comment
  src/adcp/protocols/mcp.py
Due: none

fix: return both message and structured content in MCP responses
  src/adcp/__main__.py
  src/adcp/protocols/base.py
  src/adcp/protocols/mcp.py
  src/adcp/types/core.py
  tests/test_protocols.py
Due: none

fix: split long line to meet linting requirements
  src/adcp/protocols/mcp.py
Due: none

feat: add preview URL generation for creative formats and products
  PROTOCOL_SUGGESTIONS.md
  examples/README.md
  examples/fetch_preview_urls.py
  examples/generate_mock_previews.py
  examples/preview_urls.json
  examples/web_component_demo.html
  src/adcp/client.py
  src/adcp/protocols/a2a.py
  src/adcp/protocols/mcp.py
  src/adcp/utils/preview_cache.py
  tests/test_preview_html.py
Due: none

docs: update PROTOCOL_SUGGESTIONS with PR #183 status and integration plan
  PROTOCOL_SUGGESTIONS.md
Due: none

feat: implement batch preview API with 5-10x performance improvement
  PROTOCOL_SUGGESTIONS.md
  schemas/cache/1.0.0/activate-signal-response.json
  schemas/cache/1.0.0/brand-manifest-ref.json
  schemas/cache/1.0.0/build-creative-request.json
  schemas/cache/1.0.0/build-creative-response.json
  schemas/cache/1.0.0/create-media-buy-request.json
  schemas/cache/1.0.0/create-media-buy-response.json
  schemas/cache/1.0.0/creative-asset.json
  schemas/cache/1.0.0/creative-manifest.json
  schemas/cache/1.0.0/format-id.json
  schemas/cache/1.0.0/format.json
  schemas/cache/1.0.0/get-media-buy-delivery-response.json
  schemas/cache/1.0.0/get-products-request.json
  schemas/cache/1.0.0/get-products-response.json
  schemas/cache/1.0.0/get-signals-response.json
  schemas/cache/1.0.0/list-authorized-properties-response.json
  schemas/cache/1.0.0/list-creative-formats-request.json
  schemas/cache/1.0.0/list-creative-formats-response.json
  schemas/cache/1.0.0/list-creatives-request.json
  schemas/cache/1.0.0/list-creatives-response.json
  schemas/cache/1.0.0/media-buy.json
  schemas/cache/1.0.0/package.json
  schemas/cache/1.0.0/placement.json
  schemas/cache/1.0.0/preview-creative-request.json
  schemas/cache/1.0.0/preview-creative-response.json
  schemas/cache/1.0.0/pricing-option.json
  schemas/cache/1.0.0/product.json
  schemas/cache/1.0.0/property.json
  schemas/cache/1.0.0/protocol-envelope.json
  schemas/cache/1.0.0/provide-performance-feedback-response.json
  schemas/cache/1.0.0/sync-creatives-request.json
  schemas/cache/1.0.0/targeting.json
  schemas/cache/1.0.0/update-media-buy-request.json
  schemas/cache/1.0.0/update-media-buy-response.json
  schemas/cache/1.0.0/webhook-payload.json
  src/adcp/client.py
  src/adcp/types/generated.py
  src/adcp/utils/preview_cache.py
Due: validate-generated-code

fix: correct import path for PreviewCreativeRequest in tests
  tests/test_preview_html.py
Due: none

fix: sync schemas and regenerate models with batch preview support
  schemas/cache/1.0.0/activate-signal-response.json
  schemas/cache/1.0.0/brand-manifest-ref.json
  schemas/cache/1.0.0/build-creative-request.json
  schemas/cache/1.0.0/build-creative-response.json
  schemas/cache/1.0.0/create-media-buy-request.json
  schemas/cache/1.0.0/create-media-buy-response.json
  schemas/cache/1.0.0/creative-asset.json
  schemas/cache/1.0.0/creative-manifest.json
  schemas/cache/1.0.0/format.json
  schemas/cache/1.0.0/get-media-buy-delivery-response.json
  schemas/cache/1.0.0/get-products-request.json
  schemas/cache/1.0.0/get-products-response.json
  schemas/cache/1.0.0/get-signals-response.json
  schemas/cache/1.0.0/list-authorized-properties-response.json
  schemas/cache/1.0.0/list-creative-formats-request.json
  schemas/cache/1.0.0/list-creative-formats-response.json
  schemas/cache/1.0.0/list-creatives-request.json
  schemas/cache/1.0.0/list-creatives-response.json
  schemas/cache/1.0.0/media-buy.json
  schemas/cache/1.0.0/package.json
  schemas/cache/1.0.0/placement.json
  schemas/cache/1.0.0/preview-creative-request.json
  schemas/cache/1.0.0/pricing-option.json
  schemas/cache/1.0.0/product.json
  schemas/cache/1.0.0/property.json
  schemas/cache/1.0.0/protocol-envelope.json
  schemas/cache/1.0.0/provide-performance-feedback-response.json
  schemas/cache/1.0.0/sync-creatives-request.json
  schemas/cache/1.0.0/targeting.json
  schemas/cache/1.0.0/update-media-buy-request.json
  schemas/cache/1.0.0/update-media-buy-response.json
  schemas/cache/1.0.0/webhook-payload.json
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

fix: integrate custom implementations into code generator
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

fix: resolve linter errors for CI compliance
  src/adcp/client.py
  src/adcp/utils/preview_cache.py
Due: none

fix: resolve mypy type errors for CI compliance
  scripts/generate_models_simple.py
  src/adcp/client.py
  src/adcp/types/generated.py
  src/adcp/utils/preview_cache.py
Due: validate-generated-code, test-code-generation

fix: improve MCP adapter cleanup on connection failures
  src/adcp/protocols/mcp.py
  src/adcp/types/core.py
  tests/test_client.py
  tests/test_protocols.py
Due: none

docs: add resource management section and context manager examples
  README.md
Due: none

fix: update preview response parsing for PR #185 schema clarifications
  src/adcp/utils/preview_cache.py
  tests/test_preview_html.py
Due: none

docs: improve resource management documentation and examples
  README.md
  examples/basic_usage.py
  examples/multi_agent.py
Due: none

feat: batch preview API with 5-10x performance improvement (#18)
  examples/README.md
  examples/fetch_preview_urls.py
  examples/generate_mock_previews.py
  examples/preview_urls.json
  examples/web_component_demo.html
  schemas/cache/1.0.0/format-id.json
  schemas/cache/1.0.0/format.json
  schemas/cache/1.0.0/preview-creative-request.json
  schemas/cache/1.0.0/preview-creative-response.json
  schemas/cache/1.0.0/product.json
  scripts/generate_models_simple.py
  src/adcp/client.py
  src/adcp/protocols/a2a.py
  src/adcp/protocols/mcp.py
  src/adcp/types/generated.py
  src/adcp/utils/preview_cache.py
  tests/test_preview_html.py
Due: validate-generated-code, test-code-generation

Path conditions:
  validate-generated-code: any of: ^src/adcp/types/generated\.py$
  test-code-generation: any of: ^scripts/generate_models_simple\.py$
