Repository adcontextprotocol/adcp-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-generated-code, test-code-generation

.pre-commit-config.yaml:

# Pre-commit hooks for AdCP Python client
# See https://pre-commit.com for more information
# Installation: pip install pre-commit && pre-commit install

repos:
  # Black code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=100]

  # Ruff linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^src/adcp/types/generated\.py$

  # Mypy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.0.0
          - types-requests
        args: [--config-file=pyproject.toml]
        files: ^src/adcp/
        exclude: ^src/adcp/types/generated\.py$

  # Basic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^schemas/
      - id: end-of-file-fixer
        exclude: ^schemas/
      - id: check-yaml
      - id: check-json
        exclude: ^schemas/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  # Validate generated code after schema changes
  - repo: local
    hooks:
      - id: validate-generated-code
        name: Validate generated Pydantic models
        entry: python -m py_compile
        language: system
        files: ^src/adcp/types/generated\.py$
        pass_filenames: true
        description: Ensures generated code is syntactically valid Python

      - id: test-code-generation
        name: Test code generator
        entry: pytest tests/test_code_generation.py -v --tb=short
        language: system
        files: ^scripts/generate_models_simple\.py$
        pass_filenames: false
        description: Run code generation tests when generator changes

# Configuration
default_language_version:
  python: python3.10

# Run hooks on all files during manual runs
fail_fast: false

fix: handle MCP error responses without structuredContent gracefully
  src/adcp/protocols/mcp.py
  tests/test_protocols.py
Due: none

fix: split long error message to satisfy line length limit
  src/adcp/protocols/mcp.py
Due: none

fix: explicitly set isError=False in test mocks for successful responses
  tests/test_protocols.py
Due: none

fix: handle MCP error responses without structuredContent (#34)
  src/adcp/protocols/mcp.py
  tests/test_protocols.py
Due: none

feat: generate type adcp context field
  schemas/cache/1.0.0/activate-signal-request.json
  schemas/cache/1.0.0/activate-signal-response.json
  schemas/cache/1.0.0/build-creative-request.json
  schemas/cache/1.0.0/build-creative-response.json
  schemas/cache/1.0.0/create-media-buy-request.json
  schemas/cache/1.0.0/create-media-buy-response.json
  schemas/cache/1.0.0/get-media-buy-delivery-request.json
  schemas/cache/1.0.0/get-media-buy-delivery-response.json
  schemas/cache/1.0.0/get-products-request.json
  schemas/cache/1.0.0/get-products-response.json
  schemas/cache/1.0.0/get-signals-request.json
  schemas/cache/1.0.0/get-signals-response.json
  schemas/cache/1.0.0/list-authorized-properties-request.json
  schemas/cache/1.0.0/list-authorized-properties-response.json
  schemas/cache/1.0.0/list-creative-formats-request.json
  schemas/cache/1.0.0/list-creative-formats-response.json
  schemas/cache/1.0.0/list-creatives-request.json
  schemas/cache/1.0.0/list-creatives-response.json
  schemas/cache/1.0.0/preview-creative-request.json
  schemas/cache/1.0.0/preview-creative-response.json
  schemas/cache/1.0.0/protocol-envelope.json
  schemas/cache/1.0.0/provide-performance-feedback-request.json
  schemas/cache/1.0.0/provide-performance-feedback-response.json
  schemas/cache/1.0.0/sync-creatives-request.json
  schemas/cache/1.0.0/sync-creatives-response.json
  schemas/cache/1.0.0/targeting.json
  schemas/cache/1.0.0/tasks-get-request.json
  schemas/cache/1.0.0/tasks-get-response.json
  schemas/cache/1.0.0/tasks-list-request.json
  schemas/cache/1.0.0/tasks-list-response.json
  schemas/cache/1.0.0/update-media-buy-request.json
  schemas/cache/1.0.0/update-media-buy-response.json
  src/adcp/types/generated.py
Due: validate-generated-code

feat: add AdCPBaseModel with exclude_none serialization
  scripts/generate_models_simple.py
  src/adcp/types/__init__.py
  src/adcp/types/base.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

fix: add type annotations to AdCPBaseModel methods
  src/adcp/types/base.py
Due: none

feat: add adagents.json validation support
  src/adcp/__init__.py
  src/adcp/adagents.py
  src/adcp/exceptions.py
  tests/test_adagents.py
Due: none

docs: add adagents validation example
  examples/adagents_validation.py
Due: none

docs: add Publisher Authorization Validation section to README
  README.md
Due: none

feat: add property and tag discovery functions
  examples/adagents_validation.py
  src/adcp/__init__.py
  src/adcp/adagents.py
  tests/test_adagents.py
Due: none

feat: add security and performance improvements to adagents validation
  src/adcp/adagents.py
  tests/test_adagents.py
Due: none

fix: correct import sorting in __init__.py for CI linter
  src/adcp/__init__.py
Due: none

fix: mypy failures
  src/adcp/utils/preview_cache.py
Due: none

feat: Add proper Pydantic models for Format nested types
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

refactor: Extract inline Format schemas to separate files
  schemas/cache/1.0.0/asset-required.json
  schemas/cache/1.0.0/dimensions.json
  schemas/cache/1.0.0/format.json
  schemas/cache/1.0.0/preview-render.json
  schemas/cache/1.0.0/render.json
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

fix: Regenerate consolidated exports to handle import conflicts
  scripts/consolidate_exports.py
  src/adcp/types/generated.py
Due: validate-generated-code

feat!: Release v2.0.0 with breaking changes
  CHANGELOG.md
  SCHEMA_VALIDATION_GAPS.md
  pyproject.toml
  src/adcp/__init__.py
  src/adcp/adagents.py
  src/adcp/types/generated.py
  src/adcp/types/generated_poc/activate_signal_response.py
  src/adcp/types/generated_poc/activation_key.py
  src/adcp/types/generated_poc/create_media_buy_response.py
  src/adcp/types/generated_poc/daast_asset.py
  src/adcp/types/generated_poc/deployment.py
  src/adcp/types/generated_poc/destination.py
  src/adcp/types/generated_poc/list_creative_formats_request.py
  src/adcp/types/generated_poc/list_creative_formats_response.py
  src/adcp/types/generated_poc/preview_render.py
  src/adcp/types/generated_poc/sub_asset.py
  src/adcp/types/generated_poc/sync_creatives_response.py
  src/adcp/types/generated_poc/update_media_buy_response.py
  src/adcp/types/generated_poc/vast_asset.py
  src/adcp/validation.py
Due: validate-generated-code

fix: update tests for datamodel-code-generator migration
  .gitignore
Due: none

chore: remove schema validation documentation files
  CHANGELOG.md
  SCHEMA_VALIDATION_GAPS.md
  UPSTREAM_SCHEMA_ISSUES.md
Due: none

chore: revert version to 1.6.1 (release-please will manage version bumps)
  pyproject.toml
Due: none

ci: update workflow to use generate_types.py instead of removed script
  .github/workflows/ci.yml
Due: none

fix: add datamodel-code-generator dependency and fix linting errors
  pyproject.toml
  src/adcp/__init__.py
  src/adcp/utils/preview_cache.py
  src/adcp/validation.py
Due: none

fix: add email-validator dependency for datamodel-code-generator
  pyproject.toml
Due: none

refactor: improve code quality in type generation scripts
  .gitignore
  scripts/consolidate_exports.py
  scripts/generate_types.py
Due: none

fix: add model_validator to PublisherProperty for automatic validation
  src/adcp/types/generated_poc/product.py
  tests/test_discriminated_unions.py
Due: none

feat: add comprehensive model validators for all types requiring validation
  src/adcp/types/generated_poc/product.py
  tests/test_discriminated_unions.py
Due: none

fix: resolve mypy type errors (74 → 4)
  scripts/consolidate_exports.py
  src/adcp/client.py
  src/adcp/types/generated.py
  src/adcp/utils/preview_cache.py
Due: validate-generated-code

docs: document type name collision issue
  CLAUDE.md
Due: none

refactor: remove dead code file tasks.py
  src/adcp/types/tasks.py
Due: none
