Repository adcontextprotocol/adcp-client-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-generated-code, test-code-generation

validate-generated-code:
  name: Validate generated Pydantic models
  entry: python -m py_compile
  language: system
  pass_filenames: true
  description: Ensures generated code is syntactically valid Python

test-code-generation:
  name: Test code generator
  entry: pytest tests/test_code_generation.py -v --tb=short
  language: system
  pass_filenames: false
  description: Run code generation tests when generator changes

fix: line length in cleanup error logging
  src/adcp/protocols/mcp.py
Due: none

feat: improve type generation with discriminated union support
  schemas/cache/1.0.0/deployment.json
  schemas/cache/1.0.0/destination.json
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

feat: improve type generation with discriminated union support (#21)
  schemas/cache/1.0.0/deployment.json
  schemas/cache/1.0.0/destination.json
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

feat!: comprehensive schema improvements - v2.0.0
  pyproject.toml
  src/adcp/__init__.py
  src/adcp/client.py
  src/adcp/protocols/base.py
  src/adcp/types/generated.py
  src/adcp/utils/response_parser.py
Due: validate-generated-code

fix: resolve CI failures - lint errors and missing exports
  src/adcp/__init__.py
  src/adcp/protocols/base.py
  src/adcp/types/generated.py
  src/adcp/utils/response_parser.py
Due: validate-generated-code

feat: auto-generate oneOf response types and __all__ exports
  scripts/generate_models_simple.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

feat: sync schemas from GitHub with PR #189 discriminators
  schemas/cache/1.0.0/activate-signal-request.json
  schemas/cache/1.0.0/activate-signal-response.json
  schemas/cache/1.0.0/build-creative-response.json
  schemas/cache/1.0.0/create-media-buy-response.json
  schemas/cache/1.0.0/get-signals-request.json
  schemas/cache/1.0.0/get-signals-response.json
  schemas/cache/1.0.0/preview-creative-response.json
  schemas/cache/1.0.0/provide-performance-feedback-response.json
  schemas/cache/1.0.0/sub-asset.json
  schemas/cache/1.0.0/sync-creatives-response.json
  schemas/cache/1.0.0/update-media-buy-response.json
  schemas/cache/1.0.0/webhook-payload.json
  scripts/generate_models_simple.py
  scripts/sync_schemas.py
  src/adcp/types/generated.py
  tests/test_client.py
Due: validate-generated-code, test-code-generation

feat: export SubAsset discriminated union variants
  src/adcp/__init__.py
Due: none

docs: add v1.x to v2.0.0 migration guide
  MIGRATION.md
Due: none

docs: add guide for extending ADCP types with internal fields
  docs/extending-types.md
Due: none

test: add comprehensive discriminated union validation tests
  tests/test_discriminated_unions.py
Due: none

feat: sync ALL schemas from ADCP repository
  schemas/cache/1.0.0/activation-key.json
  schemas/cache/1.0.0/adagents.json
  schemas/cache/1.0.0/asset-type.json
  schemas/cache/1.0.0/audio-asset.json
  schemas/cache/1.0.0/css-asset.json
  schemas/cache/1.0.0/daast-asset.json
  schemas/cache/1.0.0/format-id.json
  schemas/cache/1.0.0/html-asset.json
  schemas/cache/1.0.0/image-asset.json
  schemas/cache/1.0.0/index.json
  schemas/cache/1.0.0/javascript-asset.json
  schemas/cache/1.0.0/markdown-asset.json
  schemas/cache/1.0.0/package-request.json
  schemas/cache/1.0.0/preview-render.json
  schemas/cache/1.0.0/promoted-offerings.json
  schemas/cache/1.0.0/push-notification-config.json
  schemas/cache/1.0.0/reporting-capabilities.json
  schemas/cache/1.0.0/tasks-get-request.json
  schemas/cache/1.0.0/tasks-get-response.json
  schemas/cache/1.0.0/tasks-list-request.json
  schemas/cache/1.0.0/tasks-list-response.json
  schemas/cache/1.0.0/text-asset.json
  schemas/cache/1.0.0/url-asset.json
  schemas/cache/1.0.0/vast-asset.json
  schemas/cache/1.0.0/video-asset.json
  schemas/cache/1.0.0/webhook-asset.json
  scripts/generate_models_simple.py
  scripts/sync_schemas.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

feat: generate VAST/DAAST/PreviewRender discriminated unions with extra='forbid'
  scripts/generate_models_simple.py
  src/adcp/__init__.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

docs: rename migration guide to MIGRATION_v1_to_v2.md
  MIGRATION_v1_to_v2.md
Due: none

fix: resolve CI failures - schema refs and linting
  schemas/cache/1.0.0/adagents.json
  schemas/cache/1.0.0/package-request.json
  schemas/cache/1.0.0/promoted-offerings.json
  schemas/cache/1.0.0/tasks-get-response.json
  schemas/cache/1.0.0/tasks-list-request.json
  schemas/cache/1.0.0/tasks-list-response.json
  src/adcp/__init__.py
  src/adcp/types/generated.py
  tests/test_discriminated_unions.py
  tests/test_preview_html.py
  tests/test_protocols.py
Due: validate-generated-code

feat: generate missing schema types with proper discriminators
  scripts/generate_models_simple.py
  src/adcp/__init__.py
  src/adcp/types/generated.py
Due: validate-generated-code, test-code-generation

feat: add schema coverage validation to prevent missing types
  scripts/generate_models_simple.py
Due: test-code-generation

refactor: improve robustness of type extraction and $ref parsing
  scripts/generate_models_simple.py
Due: test-code-generation

feat: add enum discriminator support and identifier validation
  scripts/generate_models_simple.py
Due: test-code-generation

ci: add conventional commit validation to CI pipeline
  .github/workflows/ci.yml
Due: none

fix: skip merge commits in conventional commit validation
  .github/workflows/ci.yml
Due: none

ci: add conventional commit validation to CI pipeline (#24)
  .github/workflows/ci.yml
Due: none

docs: add Python version requirement note to README
  README.md
Due: none

feat: add test helpers for easy testing and examples
  examples/test_helpers_demo.py
  src/adcp/__init__.py
  src/adcp/testing/__init__.py
  src/adcp/testing/test_helpers.py
  tests/test_helpers.py
Due: none

docs: add test helpers documentation to README
  README.md
Due: none

fix: organize imports to satisfy linter
  src/adcp/__init__.py
Due: none

fix: remove unused imports and f-string prefix
  examples/test_helpers_demo.py
  tests/test_helpers.py
Due: none

fix: remove invalid name field from AgentConfig
  examples/test_helpers_demo.py
  src/adcp/testing/test_helpers.py
  tests/test_helpers.py
Due: none

fix: update test to expect URI without trailing slash
  tests/test_helpers.py
Due: none

feat: add reference creative agent helper
  README.md
  src/adcp/__init__.py
  src/adcp/testing/__init__.py
  src/adcp/testing/test_helpers.py
  tests/test_helpers.py
Due: none

feat: add test helpers for quick testing (#27)
  README.md
  examples/test_helpers_demo.py
  src/adcp/__init__.py
  src/adcp/testing/__init__.py
  src/adcp/testing/test_helpers.py
  tests/test_helpers.py
Due: none

feat: add no-auth test agent helpers
  src/adcp/testing/__init__.py
  src/adcp/testing/test_helpers.py
  tests/test_helpers.py
Due: none

docs: add documentation for no-auth test helpers
  README.md
  examples/test_helpers_demo.py
Due: none

fix: export no-auth test helpers from main module
  src/adcp/__init__.py
Due: none

feat: add ergonomic .simple accessor to all ADCPClient instances
  README.md
  examples/simple_api_demo.py
  src/adcp/client.py
  src/adcp/simple.py
  src/adcp/testing/__init__.py
  tests/test_simple_api.py
Due: none

refactor: improve simple API error handling and documentation
  examples/simple_api_demo.py
  src/adcp/exceptions.py
  src/adcp/simple.py
  tests/test_simple_api.py
Due: none

docs: annotate test token in example as public
  examples/simple_api_demo.py
Due: none

refactor: use TEST_AGENT_TOKEN constant in example
  examples/simple_api_demo.py
Due: none

Path conditions:
  validate-generated-code: any of: ^src/adcp/types/generated\.py$
  test-code-generation: any of: ^scripts/generate_models_simple\.py$
